
node_modules/
/api-server/SqlNotebookApiServer/bin
/api-server/SqlNotebookApiServer/obj/Debug
/api-server/packages
/api-server/.vs

*.out

*.log

*.fls

*.fdb_latexmk

*.aux

*.pdf
dist/*
application/dist/*
application/saves/*.json

report/report.toc

report/report.toc

report/report.bbl

report/report.bcf

report/report.blg

report/report.run.xml

report/report.toc

*.pygtex

*.pygstyle
