html{
  height:100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin:0;
    height:100%;
}
#app{
  height:100%;
  display:flex;
  align-items: stretch;
  .container{
    flex:1;
    display:flex;
    align-items: stretch;
    > div{
      padding:0.5em 1em;
    }
  }
  .binder{
    background:#333;
    color:white;
    a{
      color:white;
    }
    ul{
      list-style: none;
      margin:0;
      padding:0;
    }
    li{
      padding:0.2em;
      margin-bottom:0.3em;
      border:1px solid black;
      cursor: pointer;
      &:hover {
        background:#000;
      }
    }
  }
  .tab{
    background:#447B08;
    h1{
      font-size: 1.2em
    }
    ul{
      list-style: none;
      margin:0;
      padding:0;
    }
    li{
      padding:0.2em;
      margin-bottom:0.3em;
      border:1px solid black;
      cursor: pointer;
      &:hover {
        background:#000;
      }
    }
  }
  .workspace{
    flex:1;
    display:flex;
    flex-direction: column;
    .workarea{
      display:flex;
      flex:1;
      margin:0;
      padding:0;
      .page{
        display:flex;
        width:300px;
        list-style:none;
        margin:0;
        padding:0;
        flex-shrink:0;
        flex-direction: column;
        .ReactCodeMirror{
          flex:1;
          .CodeMirror{
            height:auto;
          }
        }
      }
    }
  }
}

.ReactCodeMirror {
	border: 1px solid #ccc;
  height:0;
  overflow:scroll;
}
// copied from node_modules in gulpfile.js
@import "codemirror.css";
@import "fixed-data-table.css";
