$headColor:darkblue;
$headColorDark:darken($headColor,10%);
$headTextColor:white;

@import "font-awesome/scss/font-awesome.scss";

html {
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    height: 100%;
}
#app {
    height: 100%;
    display: flex;
    align-items: stretch;

    .toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        flex: 1;
        display: flex;
        align-items: stretch;
    }
    .binder {
        padding: 0.1em 0.6em;
        background: #333;
        color: white;
        a {
            color: white;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0.2em;
            margin-bottom: 0.3em;
            border: 1px solid black;
            cursor: pointer;
            &:hover {
                background: #000;
            }
        }
        .tab {
            padding: 0.1em 0.6em;
            color: white;
            background: #447B08;
            h1 {
                font-size: 1.2em;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            li {
                padding: 0.2em;
                margin-bottom: 0.3em;
                border: 1px solid black;
                cursor: pointer;
                &:hover {
                    background: #000;
                }
            }
        }
    }
}
.ReactCodeMirror {
    height: 100%;
    overflow: scroll;
}

.ButtonDef{
  padding:0.4em 0.6em;
  margin-right:1em;
  margin-top:1em;
  margin-bottom:1em;
  flex:1;
  justify-content: space-between;
  background:white;
  cursor: pointer;
  border:none;
  &:last-child{
    margin-right:0;
  }
  &:hover{
    background:$headColorDark;
    color:white;
  }
}

// copied from node_modules in gulpfile.js
@import "codemirror.css";
@import "react-datagrid.scss"; // this is for the grid plugin
@import "workspace.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
